<div class="situation-wrapper">
    <div class="situation">
        <h5> Máscara </h5>
        <span class="imagem-wrapper-section">
            <div class="imagem-wrapper">
                <img class="imagem imagem-width" [src]="'assets/images/required-mask.png'">
                <span class="situation-label">Obrigatório</span>
            </div>
            <div class="imagem-wrapper">
                <img class="imagem imagem-width" [src]="'assets/images/recommended-mask.png'">
                <span class="situation-label">Recomendado</span>
            </div>
        </span>
    </div>

    <div class="situation">
        <h5> Toalha </h5>
        <span class="imagem-wrapper-section">
            <div class="imagem-wrapper">
                <img class="imagem imagem-width" [src]="'assets/images/required-towel.png'">
                <span class="situation-label">Obrigatório</span>
            </div>
            <div class="imagem-wrapper">
                <img class="imagem imagem-width" [src]="'assets/images/recommended-towel.png'">
                <span class="situation-label">Recomendado</span>
            </div>
        </span>
    </div>


    <div class="situation">
        <h5>Bebedouro</h5>
        <span class="imagem-wrapper-section">
            <div class="imagem-wrapper">
                <img class="imagem imagem-width" [src]="'assets/images/partial-fountain.png'">
                <span class="situation-label"> Parcial </span>
            </div>
            <div class="imagem-wrapper">
                <img class="imagem imagem-width" [src]="'assets/images/forbidden-fountain.png'">
                <span class="situation-label"> Proibido </span>
            </div>

        </span>
    </div>


    <div class="situation">
        <h5>Vestiários</h5>
        <span class="imagem-wrapper-section">
            <div class="imagem-wrapper">
                <img class="imagem" [src]="'assets/images/partial-lockerroom.png'">
                <span class="situation-label">Liberado </span>
            </div>
            <div class="imagem-wrapper">
                <img class="imagem" [src]="'assets/images/forbidden-lockerroom.png'">
                <span class="situation-label">Parcial </span>
            </div>
            <div class="imagem-wrapper">
                <img class="imagem" [src]="'assets/images/required-lockerroom.png'">
                <span class="situation-label">Fechado </span>
            </div>
        </span>
    </div>
</div>